<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-resource.js"></script>
    <script src="index.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </head>
  <body ng-app="tire.compare">
    <div ng-controller="TireController">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1"><br>
          <div ng-repeat="rating in searchParams.ratings track by $index">
            {{ rating.class }}:<input type="text" name="rating.class" ng-model="rating.minStars"><br><br>
          </div>
        </div>
      </div>

      <div ng-repeat="tire in tires | filter: tireFilter">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <div class="panel panel-default">
              <div class="panel-heading">{{ tire.title }}</div>
              <div class="pabel-body">
                <div class="row">
                  <img class="col-xs-3" ng-src="{{ tire.imageUrl }}">
                  <div class="col-xs-9">
                    <br/>
                    <p><b>Ratings:</b>
                      <span ng-repeat="rating in tire.ratings track by $index">
                        <br>{{ rating.class }}: <span
                          ng-repeat="i in range.slice(0, rating.stars) track by $index"
                          class="glyphicon glyphicon-star"></span>
                      </span>
                    </p>
                    <p><b>Description:</b><br>{{ tire.description }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
